---
import AtroposCard from "../components/AtroposCard.astro";
import Github from "../components/icons/Github.astro";
import Linkedin from "../components/icons/Linkedin.astro";
import Twitter from "../components/icons/Twitter.astro";
import Portfolio from "../components/Portfolio.astro";
import Separator from "../components/Separator.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Hugo Pérez Fernandez">
    <div
        class="w-full bg-gradient-to-t bg-yellow-200 to-yellow-400/70 via-yellow-400/50 from-yellow-200"
    >
        <AtroposCard>
            <Portfolio />
        </AtroposCard>
    </div>
    <Separator />
    <footer
        class="h-32 py-4 flex gap-4 justify-center items-end bg-slate-600 font-mono"
    >
        <p>Hugo Perez Fernandez • 2022</p>
        <div class="flex gap-3 justify-around">
            <a href="https://github.com/Llambi" rel="noopener" target="_blank">
                <Github className="hover:fill-white/75 w-7" />
            </a>
            <a
                href="https://www.linkedin.com/in/hugo-perez-fernandez/"
                rel="noopener"
                target="_blank"
            >
                <Linkedin className="hover:fill-white/75 w-7" />
            </a>
            <a href="https://twitter.com/HugoXF" rel="noopener" target="_blank">
                <Twitter className="hover:fill-white/75 w-7" />
            </a>
        </div>
        <a
            href="mailto:hugopf.mail@gmail.com"
            rel="noopener nofollow"
            aria-label="Contact"
            class="hover:text-white tracking-tighter"
        >
            Contact me!
        </a>
    </footer>
</Layout>
