---
export interface Props {
    title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/x-icon" href="/icons/favicon.ico" />
        <meta property="og:title" content="Hugo Perez Fernandez" />
        <meta property="og:type" content="profile.Llambi" />
        <meta property="og:url" content="https://llambi.github.io/" />
        <meta
            property="og:image"
            content="https://llambi.github.io/images/og-image.png"
        />

        <title>{title}</title>
    </head>

    <body class="bg-slate-600">
        <slot />
    </body>
</html>
